<% include header %>
<div id="fade">
	<div>
		<%if (movieFound) {%>
			<button type="button" disabled>Film is in Watch List</button>
		<% } else { %>
		<input type="submit" value="Add to Watch List" a href="#" data-title="<%= item.Title %>" data-year="<%= item.Year %>" data-imdb_code="<%= item.imdbID %>" class="button add"></a>
		<%}%>
		<!-- <input type="hidden" name="title" value="<%= item.Title %>">
		<input type="hidden" name="year" value="<%= item.Year %>">
		<input type="hidden" name="imdb_code" value="<%= item.imdbID %>"> -->
	</div>
</div>

<div id="div5"> <button type="button" disabled>Added to Watch List!</button> </div>

</form>
<img id="poster" src= <%= item.Poster %>>
<div> <h1> The Film </h1> 
	<li> <strong>Title:</strong> <%= item.Title %></li> 
	<li> <strong>Year: </strong> <%= item.Year %></li>
	<li> <strong>Genre: </strong> <%= item.Genre %></li>
	<li> <strong>Actors: </strong><%= item.Actors %></li>
	<li> <strong> Rotten Tomatoes Score: </strong> <%= item.tomatoRating %></li>
	<br>
</div>



<script>
	var tomato = parseInt(<%= item.tomatoRating %>);          
	if (tomato <6) { 
		alert("Are you sure you want to watch this...?")
	} 
</script>


<% include footer %>