
<% include header %>
<div>
<input type="submit" value="Add to Watch List" a href="#" data-title="<%= Title %>" data-year="<%= Year %>" data-imdb_code="<%= imdbID %>" class="button add"></a>
<input type="hidden" name="title" value="<%= Title %>">
<input type="hidden" name="year" value="<%= Year %>">
<input type="hidden" name="imdb_code" value="<%= imdbID %>">
</div>



</form>
<img id="poster" src= <%= Poster %>>
<div> <h1> The Film </h1> 
<li> Title: <%= Title %></li> 
<li> Year: <%= Year %></li>
<li> Genre: <%= Genre %></li>
<li> Actors: <%= Actors %></li>
<li> Rotten Tomatoes Score: <%= tomatoRating %></li>
<br>
</div>

<script>
 var tomato = parseInt(<%= tomatoRating %>);          
if (tomato <6) { 
   alert("Are you sure you want to watch this...?")
} 
 </script>


<% include footer %>