
<% include header %>

<h1> The Film: </h1>
<li> Title: <%= Title %></li>
<li> Year: <%= Year %></li>
<li> Genre: <%= Genre %></li>
<li> Actors: <%= Actors %></li>
<li> Rotten Tomatoes Score: <%= tomatoRating %></li>
<br>
<img src= <%= Poster %>>


<% include footer %>