
<% include header %>

<h1> Watch List </h1>

<%for(var i =0; i<movies.length; i++){%>
<li>
	<div class="color"><a href='/movies/<%= movies[i].imdb_code %>' class="class1">
		<%= movies[i].title %></a>
		(<%= movies[i].year %>)</div>
		<div style="line-height:50%;">
			<br>
		</div>

		<div>
		<input type="submit" value="Delete Entry" a href="#" data-id="<%= movies[i].id %>" class="button deleteFav"></a>
		</div>
		<!-- Delete using form -->
	<!-- <form action= '/movies/watchlist' method="post"> -->
			<!-- <input type="hidden" name="imdb_code" value="<%= movies[i].imdb_code%>"> -->
			<!-- <input type="submit" value="Delete Resource"> -->
		<!-- </form>  -->


	</li>
	<%}%>

	<% include footer %>